<h2>Available drones</h2>

<button>
    <a href="/drones/create">Add Drone</a>
</button>

{{#each drones}}
    <div>
        <p> {{this.name}} </p>
        <p> {{this.propellers}} </p>
        <p> {{this.maxSpeed}} </p>

        <a href="drones/{{this.id}}/edit">Edit </a>
        
        <form action="/drones/{{id}}/delete" method="post">
            <input type='sumbit' value="DELETE">
        </form>
    </div>
{{/each}}
